<h2>Customer Form</h2>
<form #customerLogin="ngForm" (ngSubmit)="onformSubmit(customerLogin.value)">

<label>Name</label><br>
<input type="text" name="custname" [(ngModel)]="customer.cname" #custname="ngModel" 
    placeholder="Enter your name" required minlength="6"/>
<br>
<div *ngIf="custname.invalid && (custname.dirty || custname.touched)" class="custalert">
  <div *ngIf="custname.errors.required">
    Name is required
  </div>
  <div *ngIf="custname.errors.minlength">
    Name must be atleast 6 chars
    <!-- #custname.class="forminput" -->
  </div>
</div>

<br>
<label>Email</label><br>
<input type="text" name="custemailid" [(ngModel)]="customer.emailid" #custemailid="ngModel" 
   placeholder="Enter your email" required/>
<br>
<div *ngIf="custemailid.invalid && (custemailid.dirty || custemailid.touched)" class="custalert">
    <div *ngIf="custemailid.errors.required">
      Email is required
    </div>
  </div>
<br>

<label>Password</label><br>
<input type="password" name="pwd" [(ngModel)]="customer.pwd" placeholder="Enter your password"/>
<br><br>

<button type="submit" [disabled]="customerLogin.invalid ">Submit</button>

</form>